{% import '/macros/origin.html' as origin %}
{% macro posthead(xpost, curUser) %}
        <div class="posthead">
            <div class="head-line">
                <div class="p-avatar-cover">
                    <img class="avatar" src="{{ origin.origin().innerHTML }}/static/{{xpost.author.avatar}}" alt="" />
                </div>
                <div class="time-line">
                    <a href="/user/{{xpost.author.username}}/" class="opinfo">
                        <p class="firstname">{{ xpost.author.firstname }}</p>
                        <p class="lastname">{{xpost.author.lastname}}</p>
                    </a>
                    <span class="statspan">
                        <p class="author-name">@{{xpost.author.username}}</p>
                        <p class="span-dvd">|</p>
                        <p class="post-time">{{ xpost.date_created.strftime("%I:%M%p %d/%m/%y") }}</p>
                    </span>
                </div>
            </div>
            <div class="end-line">
                <span onclick="popmenu(event, '{{cur_user}}', {{xpost.post_id}} )" id="end-span">&#8285;</span>
            </div>
            <div onclick="closepop(event)" class="pop-cover">
                <div class="pop-menu">
                    {% if curUser != 'Guest' %}
                        {% if curUser == xpost.author.username %}
                            <a  href="edit" class="pop-items">
                                Edit Post
                            </a>
                            <a href="edit" class="pop-items">
                                <span>Delete Post</span>
                            <img class="share-icon" src="{{ origin.origin().innerHTML }}/static/images/icons/delete.svg" alt="" />
                            </a>
                        {% elif curUser != xpost.author.username %}
                            <a href="" class="pop-items" >
                                <span>Hide Post</span>
                            <img class="share-icon" src="{{ origin.origin().innerHTML }}/static/images/icons/cancel.svg" alt="" />
                            </a>
                            <a href="" class="pop-items" >
                                Block Posts From {{ xpost.author.username }}
                            </a>
                            <a href="" class="pop-items share-post" >
                                <span>Report Post</span>
                                <img class="share-icon" src="{{ origin.origin().innerHTML }}/static/images/icons/flag.svg" alt="" />
                            </a>
                        {% endif %}
                    {% endif %}
                    <a href="/posts/post/{{xpost.post_id}}" class="pop-items">
                        View Post
                    </a>
                    <a class="pop-items share-post">
                        <span>Share Post</span>
                        <img class="share-icon" src="{{ origin.origin().innerHTML }}/static/images/icons/share.svg" alt="" />
                    </a>
                    <div onclick="copyLink(event, {{xpost.post_id}})" class="pop-items">
                        <span>Copy Link</span>
                        <img class="share-icon" src="{{ origin.origin().innerHTML }}/static/images/icons/clip.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}
    
{% macro comment(xpost, curUser) %}
    <div class="others">
        <div onclick="likepost(event, curUser, xpost.post_id)" id="like-stat" class="like-stat common">
           <img class="li-con" src="{{ origin.origin().innerHTML }}/static/images/icons/like_plain.svg" alt="" />
            <span class="like">{{ xpost.likes|length }}</span>
        </div>
        <!-- <span class="common dvd">|</span> -->
        <a href="/posts/post/{{xpost.post_id}}#editor" id="cmmt" class="comment common">
           <img class="li-con" src="{{ origin.origin().innerHTML }}/static/images/icons/comment_icon_plain.svg" alt="" />
            <span class="like">{{ xpost.post_comments|length }}</span>
        </a>
    </div>
{% endmacro %}

{% macro content(xpost, curUser) %}
    {% if xpost.content %}
    <div class="userpost">
        {{ xpost.content }}
    </div>
    {% endif %}
{% endmacro %}

{% macro media(xpost, curUser) %}
    {% if xpost.media_attachment %}
    <div class="container" id="md-container">
        <img onload="getMedia(event, {{xpost.post_id}})" id="media-fetch" src="{{origin.origin().innerHTML}}/static/images/icons/shop.svg" onerror="alert('An error occurred when loading image)" alt="" />
    </div>
    {% endif %}
{% endmacro %}

{% macro post(xpost, curUser) %}
    <div class="posts">
        {{ posthead(xpost, curUser) }}
        {{ content(xpost, curUser) }}
        {{ media(xpost, curUser) }}
        {{ comment(xpost, curUser) }}
    </div>
{% endmacro %}