<div class="head">
    <div class="cover">
        <img onclick="pixView(event)" class="cover-img" src="{{ origin.origin().innerHTML }}/static/images/backgrounds/image.jpg" alt="" />
        <div class="avatar-cover">
            <img onclick="pixView(event)" class="p-avatar" src="{{ origin.origin().innerHTML }}/static/{{user.avatar}}.svg" alt="avatar" />
        </div>
        <div class="view">
            <div class="view-options">
                <img onclick="pickFiles(event)" class="edit-icon" src="{{ origin.origin().innerHTML }}/static/images/icons/edit.svg" alt="Edit" />
                <img onclick="closePix(event)" class="close-icon" src="{{ origin.origin().innerHTML }}/static/images/icons/cancel_teal.svg" alt="Edit" />
            </div>
            <img class="view-img" src="" alt="" />
        </div>
    </div>
    
    <div id="detail">
        <div class="name-action">
            <div class="name-cover">
                <p class="full-name">{{ user.firstname }} {{ user.lastname }}</p>
                <p class="username">@{{ user.username}}</p>
                <div class="follows">
                    <div class="following follow-item">
                        <p>{{user.followed|length}}</p>
                        <p>Followed</p>
                    </div>
                    <div class="followers follow-item">
                        <p>{{user.followers|length}}</p>
                        <p>
                            {% if user.followers|length == 1 %}
                                Follower
                            {% else %}
                                Followers
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% if cur_user != 'Guest' %}
                {% if cur_user != user.username %}
                    {% if user.is_following(cur_user) %}
                        <div class="add-frd">
                            Chat
                        </div>
                    {% else %}
                        <div onclick="follow(event, '{{cur_user}}', {{user.user_id}})" class="add-frd">
                            Follow
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <p class="user-bio">Bio - <br />"{{ user.bio }}"</p>
        <div class="more-details">
            <a href="about" class="about more-links">
                About
            </a>
            <a href="edit" class="edit more-links">
                Edit
            </a>
            <a href="pages" class="pages more-links">
                Pages
            </a>
        </div>
    </div>
</div>