* {
    box-sizing: border-box;
    /* margin: 0; */
}
.posts {
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 0px 2.5px -1px rgb(0, 128, 128); */
    border: 1px solid rgb(0, 128, 128, .2);
    width: 98%;
    margin: 0.5% 1%;
    position: relative;
}
div[class="posts"]:last-child {
    margin-bottom: 4em;
}
.posthead {
    display: flex;
    /* align-items: left; */
    /* text-align: left; */
    width: 100%;
    height: 4em;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 1px solid black; */
    /* background-color: rgb(0, 128, 128, .2); */
    /* border-bottom: 1px solid rgb(0, 128, 128, 0.1); */
    padding: 1%;
}
.head-line {
    display: flex;
    justify-content: flex-start;
    align-content: left;
    align-items: center;
    width: 60%;
    /* border: 1px solid black; */
    position: relative;
    left: 0;
}
.time-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.post-time {
    margin: 0;
}
.end-line {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 4em;
    /* border: 1px solid black; */
    position: relative;
    z-index: 1.5;
}
.end-line:active {
    background-color: rgb(0, 128, 128, .2);
}
#end-span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: rgb(0, 128, 128);
    font-size: 1.5em;
    /* border: 1px solid black; */
}
.p-avatar-cover {
    display: flex;
    border: 1px solid black;
    width: 3.2em;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 3px -1px rgb(0, 128, 128);
}
.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1%; */
    width: 3.5em;
    height: 3.5em;
    margin: 1% 1% 1% 1%;
    border: 1px solid rgb(0, 128, 128, 0.1);
    border-radius: 50%;
    overflow: hidden;
}
.opinfo {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(0, 128, 128);
    text-decoration: none;
    margin: 0 2%;
}
.pop-cover {
    display: none;
    flex-direction: column;
    background-color: rgb(50, 50, 50, .5);
    height: 100%;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.pop-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 2.5;
    border: 1px solid black;
}
.pop-items {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4em;
    width: 100%;
    color: rgb(0, 128, 128);
    background-color: white;
    border-top: 1px solid rgba(0, 128, 128, .2);
    text-decoration: none;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 2.5;
}
.pop-items:active {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 128, 128, .2);
}
.share-post {
    display: flex;
    justify-content: center;
    align-items: center;
}
.share-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    height: 100%;
    /* border: 1px solid black; */
}
.userpost {
    display: flex;
    align-items: center;
    width: 98%;
    min-height: 3.5em;
    max-height: 10em;
    margin: auto;
    padding: 1%;
}
.container {
    display: flex;
    width: 98%;
    margin: 0 1%;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
}
.p-actual {
    display: flex;
    width: 100%;
    margin: 1% 0.5%;
    min-height: 8em;
    max-height: 15em;
}
.container p-actual:first-child {
    margin-left: auto;
}
.container p-actual:last-child {
    margin-right: auto;
}
#media-fetch {
    display: none;
}
.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1%;
}
.statspan {
    display: flex;
    font-size: 0.8em;
    color: rgb(0,128,128, 0.8);
}
.others {
    display: flex;
    width: 100%;
    height: 3em;
}
.like-stat {
    display: flex;
    width: 50%;
}
#like-stat:active {
    background-color: rgb(0, 128, 128, 0.1);
}
.like {}
.li-con {
    height: 80%;
    width: 2em;
}
#cmmt:active {
    background-color: rgb(0, 128, 128, 0.1);
}
.comment {
    width: 50%;
    text-decoration: none;
    /* border: 1px solid black; */
}
.common {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 128, 128);
    /* border-top: 1px solid rgb(0, 128, 128, 0.1); */
    border-bottom: 1px solid rgb(0, 128, 128, 0.1);
    font-size: 0.9em;
    /* text-decoration: none; */
}
.common:active {
    color: white;
    background-color: rgba(0, 128, 128, .2);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dvd {
    width: 0;
    padding: 0;
    color: rgb(0, 128, 128, 0.2);
    font-size: 2em;
}