{% import '/macros/origin.html' as origin %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/base.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/nav.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/chat.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/toast.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/scripts/libraries/emojs/emoji.css" type="text/css" media="all" />
    <title>
        {% if chat.chat_type == 'p2p' %}
            {% for user in chat.users %}
                {% if user.username != loggedUser.username %}
                    {{ user.username }}
                {% endif %}
            {% endfor %}
        {% elif chat.chat_type != 'p2p' %}
            {{ chat.chat_name }}
        {% endif %}
    </title>
    <script src="{{ origin.origin().innerHTML }}/static/scripts/libraries/anime-master/lib/anime.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ origin.origin().innerHTML }}/static/scripts/libraries/emojs/emoji.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
{% import '/macros/toast.html' as toast %}
{% include 'nav.html' %}
    <div class="page-head">
        <div class="head-content">
            <span onclick="history.back()" class="prev">&#8592;</span>
            <h3 class="head-user" >
                {% if chat.chat_type == 'p2p' %}
                    {% for user in chat.users %}
                        {% if user.username != loggedUser.username %}
                            {{ user.username }}
                        {% endif %}
                    {% endfor %}
                {% elif chat.chat_type != 'p2p' %}
                    {{ chat.chat_name }}
                {% endif %}
            </h3>
        </div>
        <div class="head-dot">
            &#8285;
        </div>
    </div>
    <div onclick="closeTxtArea(event)" id="gen-cover">
        {% for msg in chat.msgs %}
            {% if msg.user == loggedUser %}
            <div class="chat-rows">
                <div class="chat-box user-chat">
                    {% if msg.media %}
                        {% for md in msg.media %}
                        {% if 'image/' in md.media_type %}
                        <div class="msg-media">
                            <img class="msg-img" src="{{ origin.origin().innerHTML }}/static/{{md.path}}" alt="" />
                        </div>
                        {% elif 'video/' in md.media_type %}
                        <div class="msg-media">
                            <video src="{{ origin.origin().innerHTML }}/static/{{ md.path }}" height="6em" width="6em" preload="none" autoplay="autoplay"></video>
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    <p class="chat-item">{{msg.msg_txt}}</p>
                    <p class="chat-item msg-date">{{msg.date.strftime("%I:%M%p %d-%m-%y")}}</p>
                </div>
            </div>
            {% else %}
            <div class="chat-rows">
                <div class="chat-box chatmate">
                    <p class="chat-item">{{msg.msg_txt}}</p>
                    <p class="chat-item msg-date">{{msg.date.strftime("%I:%M%p %d/%m/%y")}}</p>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
<div class="msg-cover">
    <div class="msg-upload">
        <div class="msg-input">
            <div class="emojis msg-alibi">&#128512;</div>
            <textarea class="new-msg" id="new-msg" placeholder="Hello... "></textarea>
            <div class="link-files msg-alibi">&#128206;</div>
        </div>
        <div onclick="socket.onopen=send_msg(event, '{{cur_user}}', {{chat.chat_id}})" class="sendmsg">
            <img src="{{ origin.origin().innerHTML }}/static/images/icons/send_white.svg"/>
        </div>
    </div>
    <div id="emoji-container"></div>
</div>
{{ toast.toast() }}
<script src="{{ origin.origin().innerHTML }}/static/scripts/js/chat.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>