{% extends 'base.html' %}
{% import '/macros/postmacros.html' as macros %}
{% import '/macros/origin.html' as origin %}
{% block head %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="shortcut icon" href="{{ origin.origin().innerHTML }}/static/images/avatar/d-logo.svg" type="image/x-icon" />
<link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/index.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/post_act.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/toast.css" type="text/css" media="all" />
    <script src="{{ origin.origin().innerHTML }}/static/scripts/libraries/anime-master/lib/anime.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block title %}
AVL - Avenues To Learn
{% endblock %}
{% block content %}
{{ origin.origin().innerHTML }}
{% if cur_user != 'Guest' %}
    <div id="banner">
        <h1 id="banner-txt">AVL - Avenues To Learn</h1>
    </div>
    <div class="posts-cover">
    {% for post in user.posts %}
    {{ macros.post(post, cur_user) }}
    {% endfor %}
    </div>
{% elif cur_user == 'Guest' %}
    <div id="banner">
        <h1 id="banner-txt">AVL - Avenues To Learn</h1>
    </div>
    <div class="posts-cover">
    {% for post in frontPage %}
    {{ macros.post(post, cur_user) }}
    {% endfor %}
    </div>
{% endif %}
<script src="{{ origin.origin().innerHTML }}/static/scripts/js/index.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ origin.origin().innerHTML }}/static/scripts/js/post_act.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}