{% extends 'base.html' %}
{% import '/macros/origin.html' as origin %}
{% block head %}
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/messages.css" type="text/css" media="all" />
{% endblock %}
{% block title %}{{ loggedUser.username}} - Messages{% endblock %}
{% block content %}
<div class="page-head">
    <span class="head-span">Messages</span>
    <div class="new-grp">
        New Group
    </div>
</div>
{% for chat in chats %}
    {% for user in chat.users %}
        {% if chat.chat_type == 'private' %}
            {% if user.username != loggedUser.username %}
                <div  class="msg-block">
                    <div class="msg-cover">
                        <div onclick="getchat(event, '{{cur_user}}', '{{user.username}}', '{{chat.chat_id}}')" class="msg">
                            <span class="user-ops">{{user.username}}</span>
                            <span class="msg-txt">{{chat.msgs[-1].msg_txt}}</span>
                            <span class="msg-date">{{chat.chat_date.strftime("%a %d-%m-%y")}}</span>
                        </div>
                        <div onclick="popmenu(event, '{{cur_user}}', '{{user.username}}')" class="msg-dot">
                            &#8285;
                        </div>
                    </div>
                    <div class="menu-cover">
                        <div class="menu-ops">
                            <span class="ops-item">Mute</span>
                            <span class="ops-item">Pin</span>
                        </div>
                    </div>
                </div>
            {% endif%}
        {% elif chat.type != 'private' %}
            <div  class="msg-block">
                <div class="msg-cover">
                    <div onclick="getchat(event, '{{cur_user}}', '{{chat.chat_name}}', '{{chat.chat_id}}')" class="msg">
                        <span class="user-ops">{{user.username}}</span>
                        <span class="msg-txt">{{chat.msgs[-1].msg_txt[:4]}}</span>
                        <span class="msg-date">{{chat.chat_date.strftime("%a %d-%m-%y")}}</span>
                    </div>
                    <div onclick="popmenu(event, '{{cur_user}}', '{{user.username}}')" class="msg-dot">
                        &#8285;
                    </div>
                </div>
                <div class="menu-cover">
                    <div class="menu-ops">
                        <span class="ops-item">Mute</span>
                        <span class="ops-item">Pin</span>
                        <span class="ops-item">Leave Group</span>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
<a href="friends" class="createmsg">
    &#43;
</a>
<script src="{{ origin.origin().innerHTML }}/static/scripts/js/messages.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}