{% extends 'base.html' %}
{% import '/macros/postmacros.html' as postmacro %}
{% import '/macros/toast.html' as toast %}
{% block head %}
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/profile.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/profilehead.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/post_act.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ origin.origin().innerHTML }}/static/css/toast.css" type="text/css" media="all" />
    <script src="{{ origin.origin().innerHTML }}/static/scripts/js/post_act.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ origin.origin().innerHTML }}/static/scripts/libraries/anime-master/lib/anime.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block title %}
    Profile - {{ user.username }}
{% endblock %}

{% block content %}
    {%- if user.username == cur_user -%}
        <nav class="p-nav">
            <span onclick="history.back()" class="prev">&#8592;</span>
            <div class="p-head-nav">
                <div id="" class="field">
                    <div id="shop" class="shop tablinks">
                        <img class="shop-icon" src="{{origin.origin().innerHTML}}/static/images/icons/shop.svg" alt="" />
                    </div>>
                </div>
            </div>
        </nav>
        {% include '/macros/profilehead.html' %}
        <div id="options">
            <div onclick="tabswitch(event)" id="posts-tab" class="tablinks">Posts</div>
            <div onclick="tabswitch(event)"  id="photos-tab" class="tablinks">Photos</div>
        </div>
        <div id="all-posts" class="posts-cover field">
        {% for post in user.posts %}
            {{ postmacro.post(post, cur_user) }}
        {% endfor %}
        </div>
        <div id="photos" class="photos field">
            {% if user.media %}
            <div id="imglist">
                <img class="imgs" id="fetch-imgs" onload="getPhotos(event, {{user.user_id}})" src="{{origin.origin().innerHTML}}/static/images/icons/shop.svg" alt="" />
            </div>
            {% endif %}
        </div>
        <div id="account" class="account field">
            <h1>Account settings</h1>
        </div>

        <script src="{{ origin.origin().innerHTML }}/static/scripts/js/profile.js" type="text/javascript" charset="utf-8"></script>
        
    {%- elif user.username != cur_user -%}
        <nav class="p-nav">
            <span onclick="history.back()" class="prev">&#8592;</span>
            <div class="p-head-nav">
            </div>
        </nav>
        {% include 'macros/profilehead.html' %}
        <div id="options">
            <div onclick="tabswitch(event)" id="posts-tab" class="tablinks">Posts</div>
            <div onclick="tabswitch(event)"  id="photos-tab" class="tablinks">Photos</div>
        </div>
        
        <div id="all-posts" class="posts-cover field">
            {% for post in user.posts %}
            {{ postmacro.post(post, cur_user) }}
            {% endfor %}
        </div>
                
        <div id="photos" class="photos field">
            <!-- <div id="imglist"> -->
            {% if user.media %}
            <div id="imglist">
                <img class="imgs" id="fetch-imgs" onload="getPhotos(event, {{user.user_id}})" src="{{origin.origin().innerHTML}}/static/images/icons/shop.svg" alt="" />
            </div>
            {% endif %}
            <!-- </div> -->
        </div>
        <div id="account" class="account field">
            <h1>Account settings</h1>
        </div>
    {% endif %}
{{toast.toast()}}
<script src="{{ origin.origin().innerHTML }}/static/scripts/js/profile.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}