{% import '/macros/origin.html' as origin %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{origin.origin().innerHTML}}/static/css/nav.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{origin.origin().innerHTML}}/static/css/footer.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{origin.origin().innerHTML}}/static/css/search.css" type="text/css" media="all" />
        <title>Search</title>
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="s-cover">
            <span onclick="history.back()" class="prev">&#8592;</span>
            <div class="search-bar">
                <input type="text" id="search" />
                <div class="s-icon-cover">
                    <span class="s-bar s-icon" >&#9906;</span>
                </div>
            </div>
        </div>
        <div class="space-tag">
            <span>Spaces</span>
            <span>More</span>
        </div>
        <div class="spaces">
            <div onclick="getSpace(event, '{{cur_user}}')" class="space-item">Space 1</div>
            <div onclick="getSpace(event, '{{cur_user}}')" class="space-item">Space 2</div>
            <div onclick="getSpace(event, '{{cur_user}}')" class="space-item">Space 3</div>
            <div onclick="getSpace(event, '{{cur_user}}')" class="space-item">Space 4</div>
            <div onclick="getSpace(event, '{{cur_user}}')" class="space-item">Space 5</div>
            <div onclick="getSpace(event, '{{cur_user}}')" class="space-item">Space 6</div>
        </div>
        <script src="{{origin.origin().innerHTML}}/static/scripts/js/search.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>