* {
    box-sizing: border-box;
    margin: 0;
}
#emoji-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    height: 4em;
    width: 100%;
    overflow-y: scroll;
}
.emj-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 2em;
    font-size: 1.5em;
    padding: 0;
}